<footer>


    


    <div class="row">

        <div class="row">
            <p>Copyright @2020 by Mahmoud Sallam. All rights reserved.</p>

        </div>

    </div>
</footer>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="vendors/js/jquery.waypoints.min.js"></script>
<script src="resources/js/script.js"></script>
</body>

</html>