 <!-- =============d-d connection============================= -->
 <div class="row" id="d_d">
    <div class="row">
        <div class="col span-1-of-3">
            <label for="d__d_vl__primary">Vline_primary</label>
        </div>
        <div class="col span-1-of-3">
            <input step=".01" type="number" name="d__d_vl__primary" id="d__d_vl__primary"
                placeholder="Enter Line Volatge">
        </div>
        <div class="col span-1-of-3">
            <label for="">(Volt)</label>
        </div>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <label for="d__d_trans__rating">Transformer Rating (S)</label>
        </div>
        <div class="col span-1-of-3">
            <input step=".01" type="number" name="d__d_trans__rating" id="d__d_trans__rating"
                placeholder="Enter Transformer Rating" >
        </div>
        <div class="col span-1-of-3">
            <label for="">(KVA)</label>
        </div>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <label for="d__d_freq">Frequency</label>
        </div>
        <div class="col span-1-of-3">
            <input step=".01" type="number" name="d__d_freq" id="d__d_freq" placeholder="Enter Frequency" >
        </div>
        <div class="col span-1-of-3">
            <label for="">(Hz)</label>
        </div>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <label for="d__d_turn__ratio">Turns Ratio (n)</label>
        </div>
        <div class="col span-1-of-3">
            <input step=".01" type="number" name="d__d_turn__ratio" id="d__d_turn__ratio"
                placeholder="Enter Turns Ratio" >
        </div>
        <div class="col span-1-of-3">
            <label for=""></label>
        </div>
    </div>
</div>
<!-- =============end of d-d connection============================= -->
